{% extends "main.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
		<!-- Load Pre-requisites for Google sign in --> 
	<script src = "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src = "https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	<!-- End Pre-requisites for Google sign in -->
</head>
<body>
	<div class="row top-menu">
		<div class="row banner main"></div>
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right"></div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="col-md-1"></div>
		<div class="heading">Cuisine Recipe Application</div>
	<div class = 'row divider blue bottom login'></div>
	<!-- Google Plus sign in -->
	<div id = "signinButton">
		<br/><br/>
		<span class="g-signin" 
		data-scope="openid email" 
		data-clientid="399538567247-ar3avpea289ngiuvaie3cbluh3vnfg6d.apps.googleusercontent.com"
		data-redirecturi="postmessage"
		data-accesstype="offline"
		data-cookiepolicy="single_host_origin"
		data-callback="signInCallback"
		data-approvalprompt="force">
		</span>
	</div>
	<div id = "result"></div>
	<script>
	function signInCallback(authResult){
		if(authResult['code']){
			// Hide the sign-in button now that the user is authorized
			$('#signinButton').attr('style', 'display : none');
			//Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the webpage and then redirect back to the main cuisines page.
			$.ajax({
				type: 'POST',
				url: '/gconnect?state={{STATE}}',
				processData: false,
				contentType: 'application/octet-stream; charset=utf-8',
				data: authResult['code'],
				success: function(result){
					if(result){
						$('#result').html('Login successful!</br>' + result +'</br> + Redirecting...')
					setTimeout(function(){
						window.location.href = "/cuisines/";
					}, 4000);
					} else if (authResult['error']){
						console.log('There was an error:' + authResult['error']);
					} else {
						$('$result').html('Failed to make a server-side call. Check your configuration and console.');
					}
				}
			});
		}
	}
	</script>

<!-- Facebook Sign in  -->
<script>
	window.fbAsyncInit = function(){
		FB.init({
			appId : '780312438836871',
			cookie : true, // enable cookies to allow the server to access the session
			xfbml : true, // parse social plugins on this page
			version : 'v2.2' // use version 2.2
		});
	};

	//Load the SDK asynchronously
	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	// Here we run a very simple test of the Graph API after login is successful. See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/cuisines";
        }, 4000);  
      } else {
        	$('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      } 
  	});
    });
  }
</script>
	<center>
		<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
		  Login with Facebook
		</fb:login-button>
	</center>
</body>
</html>
{% endblock %}